*{
    margin:0 auto;
    box-sizing: border-box;
    font-size:12px;
}

.container{
    display:flex;
    height:calc(100vh - 100px);

    /*DEBUG*/
    background-color: lightgreen;
}

/*Sezione colonna sx*/
.col-sx{
    min-width:150px;
    min-height:100%;

    /*DEBUG*/
    
    background-color: blue;
}

/*Sezione colonna dx*/
.col-dx{
    flex-grow: 1;
    min-height:100%;
    display:flex;
    flex-direction: column;
    overflow-y:auto;

    /*DEBUG*/
    
    background-color: aqua;
}

/*Sezione upgrade*/

.bottone{
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 15px;
}

.upgrade a{
    color:white;
    text-decoration: none;
    display:inline-block;
    margin-right:20px;
    margin-top:10px;
}

.upgrade{
    position:fixed;
    text-align:end;
    opacity: 0.5;
    width:calc(100% - 150px);
    height:50px;

    /*DEBUG*/
    background-color: black;
}

/*Sezione album*/

.album{
    min-width:calc(100% - 10px);
    flex-grow: 1;
    margin-top:70px;
    margin-left: 10px;

    /*DEBUG*/
    background-color: yellow;
}

.album ul{
    display:flex;
    justify-content:center;
    width:50%;
    gap:2%;
    list-style-type: none;
    padding-left: 0;
    color:grey;
}

.album li{
    white-space:nowrap;
}

.album .sottolinea{
    height:3px;
    width:30px;
    background-color: lightgreen;
}

.album li:hover{
    color:white;
}

.album h2{
    color:white;
    font-size:2rem;
    margin-top:30px;
    margin-bottom:5px;
}

.album h3{
    color:white;
    font-size:1.5rem;
    margin:10px 0;
}

.album span{
    color:grey;
}

.mostra-album{
    display:flex;
    justify-content:flex-start;
}

.mostra-album .card{
    margin: 0;
    padding: 10px;
    width: calc(100% / 6);
    text-align:center;
    margin-top:20px;
    background-color: #2be27d;
    border:1px solid black;
}

.card .immagine{   
    position:relative;
}

.card .immagine img{
    max-width:100%;
    display: block;
}

.card i{
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size:5rem;
}

.card:hover i{
    display:block;
}
/*
.card:hover .immagine::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    background-color: black;
    opacity: 0.6;
}*/

.card:hover img{
    filter: brightness(40%);
}

.cerchio{
    border-radius: 50%;
}

/*Sezione footer*/

footer{

    height:100px;
    background-color: #282828;
}

/*Sezione Responsive*/

@media screen and (max-width:878px){
    
    /*sezione album*/

    .album ul{   
        width:100%;
        flex-wrap:wrap;
        gap:20px 0;
        justify-content:center;
        /*DEBUG*/
        background-color:red;        
    }

    .album li{
        width:20%;
        text-align:center;
    }

    .mostra-album{
        flex-wrap:wrap;
        justify-content:flex-start;
        padding-left:10px;
    }

    .mostra-album .card{
        margin:0;
        width:25%;
        padding:10px;
        background-color: rgb(22, 1, 43);
        border:1px solid black;
    }
}

@media screen and (max-width:639px){
    
/*sezione album*/

    .album ul{   
        
        /*DEBUG*/
        background-color:purple;        
    }

    .album li{
        width:calc(100% / 3);
        text-align:center;
    }

    .mostra-album{
        padding:0 5px;
    }

    .mostra-album .card{
        width:50%;
        background-color: rgb(104, 103, 105);
    }
}